.gantt-container {
  width: 100%;
  margin-top: 25px;
  color: #0a4723 !important;
  font-family: "Montserrat";
}

.gantt-row {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.gantt-label {
  width: 240px;
  font-size: 0.9rem;
  padding-right: 12px;
  color: #0a4723 !important;
}

/* Trilha */
.gantt-track {
  flex: 1;
  height: 22px;
  background: #f3f3f3;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

/* Barra da tarefa */
.gantt-bar {
  height: 100%;
  border-radius: 10px;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.18);
}
